<!DOCTYPE html>
<html>
<head>
    <title>YaMetrics</title>
</head>
<body>
{{range $mname, $mvalue := .Gauge}}
    <p>{{$mname}}: {{$mvalue.Value}}</p>
{{end}}
{{range $mname, $mvalue := .Counter}}
    <p>{{$mname}}: {{$mvalue.Delta}}</p>
{{end}}
</body>
</html>